@use "../abstracts/variables" as *;

.hero {
    background-image: url("/image/haute-couture_2.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-size: cover;
    background-position: center;

    h1 {
        font-weight: bolder;
        background-color: $white;
        opacity: 0.91;
        padding: 1.6rem;
        text-align: center;

        @media (min-width: $tablette-width) {
            padding: 1.6rem 7rem;
        }
    }

    span {
        display: block;
    }
    
}