@use "../abstracts/variables" as *;

.localisation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .localisation_sub {
    color: $white;
    font-family: $font-family-base;
    background-color: $secondary-color;
    width: 100%;
    padding: 2rem;

        h2 {
            margin-bottom: 1rem;

            @media (min-width: $tablette-width ) {
                font-size: 3rem;
        }
        }

        span {
            display: block;
        }
    
    }

    &_map {
        width: 100%;
        height: 450px;
        
        iframe {
            width: 100%;
            height: 100%;
        }
    } 
}