@use "../abstracts/variables" as *;


.order {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 2rem;
    margin: 1rem;
    border-top: 1px solid $black;

    
    @media (min-width: $pc-width ) {
            display: flex;
            flex-direction: row;
            margin: 0 10rem;
            padding-top: 2rem;
            border-top: 1px solid $black;
        }
    
    &_sub {
        @media (min-width: $pc-width ) {
            margin-right: 4rem;
        }
    }

    .form {
        @media (min-width: $pc-width ) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 3rem;
            width: 150%;
        }
    }

    h3 {
        text-align: center;
        font-size: 1.2rem;
        margin-top: auto;
        margin-top: 2rem;
        font-family: $font-family-base;
        margin-bottom: 1rem;
        // width: 90%;
        padding-top: 1rem;

        // &::before {
        //     content: "";
        //     display: block;
        //     width: 100%;
        //     height: 1.5px;
        //     background-color: $black;
        //     margin: 2rem auto; 
        //     max-width: 100%;

        //     @media (min-width: $tablette-width) {
        //         width: 90%;
        //     }
        // }

        @media (min-width: $tablette-width) {
            text-align: left;
            font-size: 1.5rem;
        }
    }

    .formulaire {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 1rem;

        label {
            font-size: 0.8rem;
        }
        
            .username1 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 10px;
            width: 100%;
            }

            .username_labels {
            display: flex;
            gap: 1rem;
            
            span {
                width: 100%;
                font-size: 0.85rem;
                margin-bottom: 1rem;
            }
        }

        .username_sub {
            display: flex;
            flex-direction: column;

            input {
            margin-bottom: 1rem;
            height: 30px;
            }

            textarea{
                height: 50px;
            }
        }

        .username_chekbox {
            display: flex;
            flex-direction: row;
            justify-content: center;
            font-size: 0.8rem;
            margin-top: 1rem;
            gap: 0.5rem;

            input {
                width: 1.5rem;

                @media (min-width: $tablette-width) {
                    height: 2rem;
            }
            }

            @media (min-width: $tablette-width) {
            align-items: center;
            justify-content: flex-start;
            }
        }
    }

    .username1 input {
        display: inline-block;
        width: 49%;
        height: 30px;
    }

    span {
        display: block;
    }

    button {
    text-align: center;
    width: 100%;
    margin-bottom: 2rem;

    @media (min-width: $tablette-width ) {
                margin-bottom: 6rem;
        }
}
}
