@use "../abstracts/variables" as *;

.footer {
    background-color: $black;
    color: $white;
    padding: 3rem 0 0 0;

    a {
        color: $white;
        text-decoration: none;
    }

    &_content {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: $tablette-width) {
            flex-direction: row; 
            justify-content: space-evenly;
            align-items: flex-start;
            margin: auto;
        }
    }

    &_logo {
        margin-bottom: 2rem;
    }

    &_nav {
        margin-bottom: 2rem;
        
        ul {
            list-style: none;
            padding: 0;
        }
    }

    &_div {
        margin-bottom: 2rem;
        
        .footer_title {
            margin-bottom: 1rem;
        }
    }

    &_div_ {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 1rem;

        
            @media (min-width: $tablette-width) {
                gap: 1rem;
        }
    }

    &_div_icon {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            width: 20px;
            gap: 1rem;
        }

    &_mentions {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-top: 4rem;
        border: 1px solid $secondary-color;
        width: 100%;
        padding: 1rem 0;
    
        @media (min-width: $tablette-width) {
            flex-direction: row;
            gap: 2rem;
        }
    
    }
} 