@use "../abstracts/variables" as *;
@use 'sass:color';

@mixin button ($bg-color: $secondary-color, $text-color: $white) {
    background-color: $bg-color;
    color: $text-color;
    padding: 0.6rem 1rem;
    border-color: $white;
    margin-top: 2rem;

    &:hover{
        background-color: color.scale($bg-color, $lightness: -10%);
    }
} 